@font-face {
    font-family: "Lato";
    src: url('/fonts/Lato-Regular.ttf');
}

html{
    height: 100%;
}

body {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

p {
    text-align: center;
    transition: all 0.25s ease-in-out;
}

p.ph {
    font-size: 28px;
    margin: 1%;
}

.p{
    font-size: 20pt;
}

hr{
    opacity: 0.2;
}

a{
    display: none;
}

.content {
    position: relative;
    display: block;
    height: 80%;
    padding-top: auto;
    padding-bottom: auto;
    border: 5px solid black;
}

.header {
    height: 4%;
    background-color: dimgrey;
    width: 100%;
    font-size: 22px;
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    z-index: 1;
    box-shadow: 0px 0px 12px black;
    color: whitesmoke;
    text-align: center;
    line-height: 100%;
    display: inline-block;
}

#bsdisplay{
    font-size: 16pt;
    margin: auto;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0 0 5px black;
}

select{
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4%;
    margin-bottom: 4%;
    box-sizing: border-box;
    font-size: 12pt;
    width: 100%;
    text-align-last: center;
    text-align-all: center;
    padding: 4%;
    transition: width 0.5s ease-in-out;
}

select.shorter{
    width: 80%;
    display: inline;
    margin: 0;
    overflow: hidden;
}

select.popup{
    width: 20%;
    display: inline;
    margin: 0;
    white-space: nowrap;
}

table{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 5px red;
}

td, tr, th{
    vertical-align: center;
    height: auto;
    padding: 2%;
    border: 5px solid red;
}

.box{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    display: block;
}

.title{
    font-size: 42px;
}

.logo  {
    display: block;
    width: 15%;
    margin: auto;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 34px;
    padding-bottom: auto;
    cursor: pointer;
    font-size: 20pt;
    color: #bd0909;
    font-family: "Fira Sans";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.25s ease-in-out;
}

.button {
    background-color: #BD0909;
    outline: none;
    border: none;
    color: white;
    width: 10%;
    height: 5%;
    text-align: center;
    font-size: 22px;
    font-family: "Fira Sans";
    cursor: pointer;
    position: absolute;
    float: bottom;
    z-index: 1;
    display: block;
    margin-left: 45%;
    bottom: 5%;
    box-shadow:none;
    border-radius:8px;
    box-shadow: 0 0 8px black;
    transition: all 0.25s ease-in-out;
}

.button:hover{
    box-shadow: 0px 0px 16px 0px black;
    background-color: #b90707;
}

td.left{
    width: 20%;
    height: 100%;
    padding: auto;
}

td.middle{
    width: 20%;
    height: 100%;
    padding: auto;
}

td.right{
    width: 60%;
    height: 100%;
    padding: auto;
}

.text{
    font-size: 18px;
    padding: auto;
    transition: all 0.5s ease-in-out;
}